.row1{
	height:28px;
	border:solid black 1px;
}
.row2{
	height:72px;
	border:solid black 1px;
	
}
.row2_col1{
	height:72px;
	width:271px;
	border:solid black 1px;
	padding:0px 0px 0px 80px;
}
.row3{
	height:20px;
	border:solid black 1px;
}
.row4{
	height:40px;
	border:solid black 1px;
}
.row5{
	height:30px;
	border:solid black 1px;
}
.col1{
	height:30px;
	width:216px;
	border:solid black 1px;
	padding:0px 0px 0px 160px;	
}
.row6{
	height:28px;
	border:solid black 1px;
	
}
.box{
	height:2986px;
	width:960px;
	border:solid black 1px;
	margin:auto;	
}

